.controll {
    font-size: 100px;
    display: inline-block;
}

.key {
    color: black;
    background-color: white;
}

.empty {
    background-color: white;
    color: white;
}

@media  (orientation:portrait) {
    .controll {
        font-size: 300px;
        display: inline-block;
    }
}
