.controll {
    font-size: 100px; 
        display: inline-block;
}

.key {
    color: black;
    background-color: white;
}

.key1 {
    font-size: 60px; 
    color: white;
    background-color: black;
    width: 100px !important;
    height: 100px !important;
  
    border-radius: 100%;
}

.empty {
    background-color: white;
    color:white;
}
@media only screen and (max-width: 600px) {
    .key1 {
    font-size: 60px; 
    color: white;
    background-color: black;
    width: 100px !important;
    height: 100px !important;
  
    border-radius: 100%;
}
}
